
<h1><%= t('tasks.listing_tasks')%></h1>

<% if logged_in? %>
  <div id="tasks">
    <%= render @tasks %>
  </div>
  
  <br />
  
  <%= link_to "new task", new_task_path(@task, :format => :js), :remote => true, :id => 'new_task_link'%>
  <%= link_to "recent tasks", recent_tasks_path(@task, :format => :js), :remote => true, :id => 'recent_tasks_link'%>
  <%= link_to "early tasks", early_tasks_path(@task, :format => :js), :remote => true, :id => 'early_tasks_link'%>
  
<% end %>
  <br />
<%= link_to t('tasks.new_task'), new_task_path %>


