<% if logged_in? %>
<h1>Listing Tasks</h1>

  <%= link_to 'Agile Labors', agile_labors_path %>
  <br />
  <%= link_to "Recent tasks", recent_tasks_tasks_path, :remote => true, :id => 'recent_tasks_link'%>
  <%= link_to "Early tasks", early_tasks_tasks_path, :remote => true, :id => 'early_tasks_link'%>
  <%= link_to "Sort tasks", list_tasks_path, :id => 'list_tasks_link'%>
  <br />
  <%= link_to 'new JS task', new_task_path,  :remote => true %>
  <div id='color-legend'>
    <h3>move mouse here what color means</h3>
    <ul>
      <li>grey</li>
      <li>red</li>
      <li>green</li>
      <li>blue</li>
      <li>and one more some color</li>
    </ul>
  </div>
    <div id="tasks">
      <%= render @tasks %>
    </div>
  <br />
<% else %>
<% end %>
  <br />
<%= link_to t('tasks.new_task'), new_task_path %>

