<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @task.body %>
</p>

<p>
  <b>Start in:</b>
  <%= @task.start_in %>
</p>

<p>
  <b>Finish by:</b>
  <%= @task.finish_by %>
</p>

-->
<%= render @task %>

<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %> 


