<%= div_for agile_labor, :class=>'red' do %>
  <div class="aglab_label">
    <h3><%= agile_labor.title %></h3>
  </div>
  <div class="aglab_field">
    <%= agile_labor.body %>
  </div>
  <div class="aglab_field left">
  <%= agile_labor.labor_type %>
  </div>
  <div class="aglab_field right">
  <%= agile_labor.created_at %>
  </div>
  <div class="clear"></div>
  <% if agile_labor.owned_by? current_user %>
    <span class="actions">
      <%= link_to "Edit", edit_agile_labor_path(agile_labor) %>
      <%= link_to "Delete", agile_labor, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  <% end %>
<% end %>

