<% if @agile_labors.any? && current_user.agile_labors.any? %>
<div id="agile_labors">
  <div id="current-block" class="left">
<h2>Current</h2>
   <% @current_labors.each do |agile_labor| %>
     <%= render :partial => 'agile_labors/agile_labor', :locals => {:agile_labor=>agile_labor}  %>
   <% end %>
  </div>
  <div id="backlog-block" class="left">
<h2>Backlog</h2>
    <% @backlogged_labors.each do |agile_labor| %>
      <%= render :partial => 'agile_labors/agile_labor', :locals => {:agile_labor=>agile_labor}  %>
    <% end %>
  </div>
  <div id="icebox-block" class="left">
<h2>Icebox</h2>
    <% @iceboxed_labors.each do |agile_labor| %>
      <%= render :partial => 'agile_labors/agile_labor', :locals => {:agile_labor=>agile_labor}  %>
    <% end %>
  </div>
</div>
<% else %>
  any labors by any categories
<% end %>
<div class="clear"></div>
<br />
<%= link_to 'New agile task', new_agile_labor_path %>
<%= link_to 'on top', tasks_path %>

