maybe nested form with project and task
<br />
<%= form_for @project do |f| %>
  <div class='field'>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div> 
  <div class='field'>
    <%= f.label :targets %><br />
    <%= f.text_field :targets %>
  </div><br />
    <%= f.submit %>
<% end %>
