<!DOCTYPE html>
<html>
<head>
  <title>TimeToDo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1><%= link_to "Tasker", root_path%></h1>
    <div id="user_bar">
      <% if logged_in? %>
        <%= link_to "New Task", new_task_path %>
        <%= link_to "Edit Passwors", edit_user_path(current_user) %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path%>
      <% end %>
    </div>
  </div>
  <div id="main">  
    <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
    <%= content_tag :p, alert, :class => 'alert' if alert.present? %>
    <%= yield %>
  </div>
  <div id="footer"%>
    A simple task manager for exaple and training.
  </div>
</body>
</html>
